{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.5"}

        ;; Spec
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :git/sha "efbeb200b9594e265907c1d66ad4ffd9cd8c91cf"}

        ;; Web
        ring/ring-core {:mvn/version "1.15.4"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        metosin/reitit {:mvn/version "0.10.1"}
        metosin/reitit-ring {:mvn/version "0.10.1"}

        ;; HTML
        hiccup/hiccup {:mvn/version "2.0.0"}

        ;; System
        integrant/integrant {:mvn/version "1.0.1"}

        ;; Config
        aero/aero {:mvn/version "1.1.6"}

        ;; Logging, bridging taken from https://github.com/stuartsierra/log.dev
        ;; Telemere as logging backend
        com.taoensso/telemere {:mvn/version "1.2.1"}
        ;; Telemere implements the SLF4J API:
        com.taoensso/telemere-slf4j {:mvn/version "1.2.1"}
        org.slf4j/slf4j-api {:mvn/version "2.0.18"}
        ;; Redirect Apache Commons Logging to Telemere via the SLF4J API:
        org.slf4j/jcl-over-slf4j {:mvn/version "2.0.18"}
        ;; Redirect Log4j 1.x to Telemere via the SLF4J API:
        org.slf4j/log4j-over-slf4j {:mvn/version "2.0.18"}
        ;; Redirect Log4j 2.x to Telemere via the SLF4J API:
        org.apache.logging.log4j/log4j-to-slf4j  {:mvn/version "2.26.0"}
        ;; Redirect java.util.logging to Telemere via the SLF4J API.
        ;; Requires installing the bridge handler, see README:
        org.slf4j/jul-to-slf4j {:mvn/version "2.0.18"}

        io.github.tonsky/clojure-plus {:mvn/version "1.7.2"}}

 :aliases
 {:dev {:extra-deps {integrant/repl {:mvn/version "0.5.1"}}}

  :run {:main-opts ["-m" "zumo.main"]}}}
