{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}

        ;; Spec
        org.clojure/spec-alpha2 {:git/url "https://github.com/clojure/spec-alpha2.git"
                                 :git/sha "efbeb200b9594e265907c1d66ad4ffd9cd8c91cf"}

        ;; Web
        ring/ring-core {:mvn/version "1.15.3"}
        http-kit/http-kit {:mvn/version "2.8.1"}
        metosin/reitit {:mvn/version "0.10.1"}
        metosin/reitit-ring {:mvn/version "0.10.1"}

        ;; HTML
        hiccup/hiccup {:mvn/version "2.0.0"}

        ;; System
        integrant/integrant {:mvn/version "1.0.1"}

        ;; Config
        aero/aero {:mvn/version "1.1.6"}}

 :aliases
 {:dev {:extra-deps {integrant/repl {:mvn/version "0.5.0"}}}

  :run {:main-opts ["-m" "zumo.main"]}

  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar "target/zumo.jar"
                        :aot true
                        :main-class zumo.main}}}}
